*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #06060F;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0.9375rem 2.8125rem;
    font-size: 1.25rem;
    background: transparent;
    border: 0.125rem solid #A2A2F1;
    border-radius: 0.3125rem;
    color: #A2A2F1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    box-shadow: 0 0 0.9375rem #A2A2F1, inset 0 0 0.9375rem #A2A2F1;
    text-shadow: 0 0 0.9375rem #A2A2F1;
}



